{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block 'main' %}

<!-- ROW 2 STARTS -->
<div class="container pt-5">
    <div class="row mt-5 mb-5">
        <div class="col-md-4 shadow mt-5 p-4 mx-auto bg-info-subtle rounded-4">
            <!-- <h2 style="text-align: center;">Registration</h2> -->
            <h2 class="text-center">Registration</h2>
            {% if errormessage %}
                <div class="alert alert-danger">
                    {{errormessage}}
                </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Input1" class="form-label">Full Name: </label>
                    <input type="text" class="form-control" id="Input1" name="fullname" placeholder="Your full name">
                </div>
                <div class="mb-3">
                    <label for="Input2" class="form-label">Username: </label>
                    <input type="email" class="form-control" id="Input2" name="username" placeholder="Your email id">
                </div>
                <div class="mb-3">
                    <label for="Input3" class="form-label">Password: </label>
                    <input type="password" class="form-control" id="Input3" name="userpassword" placeholder="Enter Password">
                </div>
                <div class="mb-3">
                    <label for="Input4" class="form-label">Confirm Password: </label>
                    <input type="password" class="form-control" id="Input4" name="confirmpassword" placeholder="Confirm Password">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-danger" value="Register">
                    Already User? <a href="/login" style="text-decoration: none;">Login</a>
                </div>
                {% if success %}
                    <div class="alert alert-success">
                        {{success}}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<!-- ROW 2 ENDS -->
{% endblock 'main' %}