79-siddheshPackage @ file:///D:/PROGRAMMING/PYTHON/PycharmProjects/PythonTutsByCodeWithHarry/79_siddheshPackage/dist/79_siddheshPackage-0.1-py3-none-any.whl#sha256=02c0c37e47f7833ac641439d2f78ba01f58a18ff7fc07f55f3e0fb823ea88213
absl-py==2.1.0
altgraph==0.17.4
asgiref==3.7.2
astunparse==1.6.3
beautifulsoup4==4.12.3
bootstrap4==0.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
crispy-bootstrap4==2023.1
cycler==0.12.1
distlib==0.3.8
Django==5.0.1
django-bootstrap4==24.1
django-crispy-forms==2.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.51.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.2
h5py==3.11.0
idna==3.6
keras==3.2.1
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
numpy==1.26.4
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.1.0
protobuf==4.25.3
pygame==2.5.2
Pygments==2.17.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
rich==13.7.1
siddheshpackage @ file:///D:/PROGRAMMING/PYTHON/PycharmProjects/PythonTutsByCodeWithHarry/siddheshpackage/dist/siddheshpackage-0.3-py3-none-any.whl#sha256=72ce5033561a71bd33807ca600a1946c8714841e85509e0f07476450f3495e5d
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
typing_extensions==4.11.0
tzdata==2023.4
urllib3==2.2.0
virtualenv==20.25.0
Werkzeug==3.0.2
wrapt==1.16.0
